main {
    position: relative;
    .s-hero-about {
        width: 100%;
        height: 68.2rem;
        margin-top: 10.5rem;
        position: relative;
    
        background-image: url('../imgs/s-hero-about-banner.png');
        background-repeat: no-repeat;
        background-position: right;
        z-index: 5;
    
        display: flex;
        align-items: center;
    
    
        .text {
            width: 100%;
            max-width: 36.2rem;
            p {
                font-weight: 400;
                font-size: 1.85rem;
                line-height: 2.3rem;
                
                color: #FFFFFF;
                
                opacity: 0.9;
    
                width: 100%;
                max-width: 30.4rem;
    
                margin: 1.8rem 0 2.5rem 0;
            }
        }
    
    
    
        .actions {
            @include flex(row, center, space-between);
            width: 100%;
            max-width: 20.8rem;
            .icon-play {
                width: 5.4rem;
                height: 5.4rem;
    
                img {
                    max-width: 1.9rem;
                    left: 1.9rem;
                }
            }
        }
    
    
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #002EFF 21.8%, rgba(0, 46, 255, 0) 43.19%); 
            z-index: -1;
        }
    }
    
    .s-cards-about {
        margin-top: 8.5rem;
        margin-bottom: 9.6rem;
        .container {
            @include flex(row, center, space-between);
            flex-wrap: wrap;
        }
        .card-about {
            width: 100%;
            max-width: 38rem;
            height: 44.5rem;
            background-color: $light-blue-02;
            box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.09);
            transition: all .3s;
            
    
            .content {
                width: 100%;
                max-width: 31.1rem;
                text-align: center;
    
                .image {
                    margin-bottom: 2.5rem;
    
                    img {
                        margin: 0 auto;
                    }
    
                    h4 {
                        font-family: 'Sora';
                        font-weight: 700;
                        font-size: 2.5rem;
                        line-height: 3.2rem;
                        color: $brand-dark-blue;
                        margin-top: 1.4rem;
    
                    }
                }
    
                .text {
                    ul {
                        li {
                            font-size: 1.8rem;
                            line-height: 2.8rem;
                            color: $text-color;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    
    .s-escolher-standart {
        text-align: center;
        
        .cards-about {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            max-width: 89.6rem;
            margin: 0 auto;
            margin-top: 4.9rem;
            
            .card-about {
                max-width: 20rem;
                transition: all .3s;
            }
    
        }
    
        .qualities {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 8rem;
    
            .quality {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 6rem;
                width: 42rem;
                
               
                height: 17.1rem;
    
                p {
                    font-family: 'Sora';
                    font-size: 2rem;
                    line-height: 2.8rem;
                    font-weight: 400;
                    opacity: 1;
                    color: $brand-dark-blue;
                    width: 100%;
                    max-width: 25.6rem;
                    margin-top: 2.2rem;
                }
    
                &:not(:last-child) {
                    border-right: 1px solid rgba($color: #000000, $alpha: .1);
                }
            }
        }
    }
    
    .s-brands {
        margin-top: 7rem;
    }
    
    
    .s-institucional-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
            opacity: 0;
            transition: all .3s;
        }
    
    
        .video-content {
            transform: translateY(-30px);
            opacity: 0;
            transition: all .3s;
            pointer-events: none;
            .btn-close {
                position: absolute;
                z-index: 5;
                top: -1.5rem;
                right: -1.5rem;
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                cursor: pointer;
                transition: all .3s;
    
                &:hover {
                    background-color: $gray-02;
                }
    
                img {
                    max-width: 1.8rem;
                }
            }
    
    
            position: relative;
            z-index: 2000;
            width: calc(1920px/2);
            height: calc(1080px/2);
    
            iframe {
                z-index: 2000;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    &.institucional-opened {
        .s-institucional-popup {
            pointer-events: all;
            .overlay {
                opacity: 1;
            }
    
            .video-content {
                pointer-events: all;
                transform: translateY(0);
                opacity: 1;
            }
        }
    
    }
}

@media(max-width: 1500px) {
    main {
        .s-hero-about {
            height: 48rem;
        }
    }

}

@media(max-width: 1300px) {
    .s-hero-about {
        background-position-x: -4%;
       
    }

    .s-cards-about {
        margin-top: 4.8rem;
        margin-bottom: 7.5rem;
        .container {
            justify-content: center !important;
            gap: 2.2rem;
        }
    }

    .s-escolher-standart {
        .qualities {
            .quality {
                border-right: none !important;
            }
        }
    }


}

@media(max-width: 1100px) {
    main {
        .s-institucional-popup {
            .video-content {
    
                width: calc(1920px/2.5);
                height: calc(1080px/2.5);
            }
        }
    }

}

@media(max-width: 820px) {
    main {
        .s-institucional-popup {
            .video-content {
    
                width: calc(1920px/3.2);
                height: calc(1080px/3.2);
            }
        }
    }

}

@media(max-width: 720px) {
    main {
        .s-hero-about {
            margin-top: 8rem;
            height: 48.9rem;
            background-position-x: 30%;
            
    
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-color: rgba($color: #000000, $alpha: .3);
            }
    
            &::before {
                background: linear-gradient(90deg, rgba(0, 46, 255, 0.7) 31.53%, rgba(0, 46, 255, 0) 100%);
                opacity: .6;
            }
    
            .text {
                text-align: center;
                margin: 0 auto;
                h1 {
                    font-size: 3rem;
                    line-height: 3.8rem;
                    
                }
    
                p {
                    font-size: 1.5rem;
                    line-height: 2.1rem;
                    margin: 0 auto;
                    margin-top: 1.4rem;
                    margin-bottom: 3rem;
                }
            }
    
            .actions {
                max-width: 21rem;
                margin: 0 auto;
            }
        }
    
        .s-cards-about {
            margin-top: 4.2rem;
            margin-bottom: 6rem;
            .container {
                gap: 2rem;
            }
            .card-about {
                max-width: 33.5rem;
                height: 37.4rem;
    
                .content {
                    .image {
                        img {
                            max-width: 8rem;
                        }
        
                        h4 {
                            font-size: 2.5rem;
                            line-height: 3.2rem;
                        }
                    }
        
                    .text {
                        max-width: 25rem;
                        p {
                            font-size: 1.46rem;
                            line-height: 2.1rem;
                        }
    
                        ul {
                            li {
                                font-size: 1.46rem;
                                line-height: 2.1rem;
                            }
                        }
                    }
                }
    
            }
        }
    
        .s-escolher-standart {
            h2 {
                font-size: 2.6rem;
                line-height: 3.3rem;
            }
    
            .cards-about {
                margin-top: 4rem;
            }
    
            .qualities {
                margin: 0;
                padding-top: 5.8rem;
                border-top: 1px solid rgba($color: #000000, $alpha: .1);
                width: 16.8rem;
                margin: 0 auto;
                column-gap: 4rem;
                row-gap: 6rem;
                .quality {
                    
                    margin: 0;
                    max-width: 16.8rem;
                    .icon {
                        max-width: 5.2rem;
                    }
    
                    p {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        
                    }
                }
            }
        }
    
        .s-institucional-popup {
            .video-content {
    
                width: calc(1920px/4);
                height: calc(1080px/4);
            }
        }
    }

}

@media(max-width: 570px) {
    main {
        .s-institucional-popup {
            .video-content {
    
                width: calc(1920px/5.8);
                height: calc(1080px/5.8);
            }
        }
    }

}

@media(max-width: 540px) {
    main {
        .s-escolher-standart {
            .cards-about {
                .card-about {
                    width: 15rem;
                    height: 15rem;
    
                    .icon {
                        max-width: 3.7rem;
                    }
    
                    .info-card {
                        p {
                            font-size: 1.44rem;
                            line-height: 1.8rem;
                        }
                    }
                }
            }
    
            .qualities {
               border: none;
               padding-top: 2rem;
            }
            
        }
    }

}