p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: $text-color;
    opacity: .75;
}

h2 {
    font-family: 'Sora';
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    color: $brand-dark-blue;
}

h1 {
    font-family: 'Sora';
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.3rem;

    color: #FFFFFF;
}