$brand-dark-blue: #001680;
$brand-normal-blue: #002eff;

$normal-blue-01: #0023CC;

$light-blue-01: #E5EAFF;
$light-blue-02: #F6F8FF;
$light-blue-03: #F7F8FF;
$light-blue-04: #F3F6FF;
$light-blue-05: #F4F7FF;

$text-color: #00082E;

$gray-01: #EFEFEF;
$gray-02: #E6E6E6;